.generalCarsContainer {
    padding: 30px;
    min-height: 80vh;
}
.generalCarsContainer h2 {
    font-size: 26px;
    margin: .5em;
    text-align: center;
}
.characteristicsDiv {
    display: flex;
    justify-content: space-between;
    color: dimgrey;
    margin: 0.8em 0;
}
.caracItem {
    display: flex;
    font-size: 12px;
    text-align: center;
}
.caracItem p {
    margin-bottom: 0;
    line-height: 28px;
    text-transform: capitalize;
    margin-left: 4px;
}
.cardCar {
    width: 85vw;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardInfoBox {
    padding: 10px;
    padding-top: 20px;
    background-color: #ffffffcf;
    border-radius: 0 0 8px 8px;    
    color: dimgrey;
    color: #494949;
}
.cardPrice {
    font-weight: 600;
    font-size: 26px;
}
.carsImageCard {
    width: 100%;
    border-radius: 8px 8px 0 0;
    aspect-ratio: 4 / 3 !important;
    object-fit: cover;
}
.cardBrand {
    font-size: 15px;
    font-weight: 200;
}
.cardModel {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}
.alContado {
    margin-bottom: 0.5rem;
    font-size: 13px;
}
.filterButton {
    margin: 0;
    line-height: 1;
    background-color: dimgray;
    color: white;
    width: fit-content;
    padding: 7px 15px;
    border-radius: 20px;
}
.modalBody {
    height: 300px;
    flex-direction: column !important;
}
.filterInputContainer {
    width: 100%;
}
.labelCarsFilter {
    width: 50%;
    font-weight: 600;
}
.labelResponseFilter {
    width: 50%;
    padding: 0;
    font-size: 14px;
}
.buttonWhiteBs {
    border: 2px solid black;
}
.eraseFilters {
    background: none;
    border: none;
    text-decoration: underline;
    margin: 1.5em 0;
    color: dimgray;
}
.filterButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceBoxCars {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media(min-width:700px) {
    .generalCarsContainer {
        padding: 3vw 6vw;
    }
    .generalCarsContainer h2 {
        font-size: 35px;
        margin: .7em;
    }
    .filterButton {
        font-size: 20px;
        padding: 1.3% 2.5%;
    }
    .filterButtons {
        margin: 15px;
    }
    .eraseFilters {
        font-size: 18px;
    }
    .cardsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }
    .cardCar {
        width: 45%;
    }
    .cardPrice {
        margin-bottom: 0.2rem;
    }
}



@media(min-width:1000px) {
    .generalCarsContainer h2 {
        font-size: 40px;
        margin: 1em;
    }
    .generalCarsContainer {
        padding: 4vw 10vw;
    }
    .cardCar {
        width: 46%;
    }
}

@media(min-width:1200px) {
    .generalCarsContainer {
        padding: 4vw 8vw;
    }
    .generalCarsContainer h2 {
        font-size: 45px;
        margin: 1em;
    }
    .cardsContainer {
        justify-content: flex-start;
    }
    .filterButtons {
        width: 33%;
        margin: 15px 1%;
    }
    .filterButton {
        padding: 2.5% 3.5%;
    }
    .cardCar {
        width: 31.5%;
        margin: 1.2% 0.91%;
    }
    .cardModel {
        font-size: 21px;
    }
    .cardBrand {
        font-size: 18px;
    }
    .caracItem {
        font-size: 12.5px;
    }
    .caracItem p {
        line-height: 35px;
        font-size: 14px;
    }
    .cardInfoBox {
        padding: 15px;
        padding-top: 25px;
    }
    .characteristicsDiv {
        margin: 1em 0;
    }
    .cardPrice {
        font-size: 32px;
    }
    .alContado {
        font-size: 15px;
    }
}

@media(min-width: 1500px) {
    .generalCarsContainer {
        padding: 2vw 8vw 4vw;
    }

    .cardCar {
        width: 23%;
        margin: 1.2% 1%;
    }
    .caracItem {
        font-size: 8.5px;
    }
    .cardPrice {
        font-size: 28px;
    }
    .caracItem p {
        line-height: 25px;
        font-size: 12px;
    }
    .characteristicsDiv {
        margin: 1.5em 0;
    }
}
@media(min-width: 1800px) {
    
    .generalCarsContainer h2 {
        font-size: 55px;
        margin: 1em;
        font-weight: 600;
    }
    .filterButtons {
        width: 25%;
        margin: 30px 1%;
    }
    .filterButton {
        font-size: 22px;
    }
    .cardModel {
        font-size: 23px;
    }
    .cardBrand {
        font-size: 20px;
    }
    .caracItem p {
        line-height: 30px;
        font-size: 13px;
    }
    .cardInfoBox {
        padding: 22px;
        padding-top: 25px;
    }
    .cardPrice {
        font-size: 31px;
    }
}