.generalCarsContainer {
    padding: 30px;
}
.generalCarsContainer h2 {
    font-size: 26px;
    text-align: center;
}
.characteristicsDiv {
    display: flex;
    justify-content: space-between;
    color: dimgrey;
    margin: 1em 0;
}
.caracItem {
    display: flex;
    font-size: 12px;
    text-align: center;
}
.caracItem p {
    margin-bottom: 0;
    line-height: 28px;
    text-transform: capitalize;
    margin-left: 4px;
}
.cardCar {
    width: 85vw;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardInfoBox {
    padding: 10px;
    padding-top: 20px;
    background-color: #ffffffcf;
    border-radius: 0 0 8px 8px;    
    color: dimgrey;
    color: #494949;
}
.cardPrice {
    font-weight: 600;
    font-size: 26px;
}
.carsImageCard {
    width: 100%;
    border-radius: 8px 8px 0 0;
    aspect-ratio: 4 / 3 !important;
    object-fit: cover;
}
.cardBrand {
    font-size: 15px;
    font-family: 'Kulim Park';
    font-weight: 200;
}
.cardModel {
    font-weight: 600;
    font-size: 18px;
}
.alContado {
    margin-bottom: 0.5rem;
    font-size: 13px;
}
.filterButton {
    margin: 0;
    line-height: 1;
    background-color: #000e23;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    padding-left: 17px;
    border-radius: 20px;
}