.aboutHomeOrange {
    padding: 30px;
    background-color: #FFC700;
}
.aboutHomeOrange h2 {
    font-size: 35px;
}
.aboutHomeOrange p {
    font-size: 14.5px;
    line-height: 1.7;
    font-weight: 300;
    width: 90%;
}
.iframeMap {
    width: 100%;
    height: 220px;
    border: none;
    border-radius: 20px;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}
.aboutMap {
    width: 85vw;
    margin: auto;
}
.aboutMap h4 {
    font-weight: 500;  
    font-size: 16px;
}
.aboutHomeWhy {
    padding: 30px;
}

.aboutHomeWhy h3 {
    font-weight: 600;
    font-size: 22px;
}
.advantagesAbout {
    width: 50%;
    margin: 0 5px 0 0;
}
.advantagesCard {
    background-color: #f9f9f9;
    width: 85vw;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}
.advantagesCard img {
    width: 45%;
    height: 130px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px;
}
.advantagesCard p {
    font-size: 11px;
}

.advantagesCard h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 1em 0;
}
.aboutPolo {
    width: 100%;
    object-fit: cover;
    object-position: left;
}
@media(min-width: 700px) {
    .aboutHomeWhy {
        padding: 6vw;
    }
    .aboutLocal {
        display: flex;
    }
    .aboutHomeOrange {
        padding: 6vw;
    }
    .aboutHomeOrange, .aboutPolo  {
        width: 50%;
    }
    .aboutHomeOrange p {
        margin-bottom: 3em;
        width: 94%;
    }
    .aboutHomeOrange h2 {
        margin: 1em 0;
        font-size: 40px;
    }
    .advantagesCard {
        width: 42vw;
        margin: 10px 0;
    }
    .advantagesCardsBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .aboutMap {
        width: 100%;
        padding: 10px 6vw;
    }
    .iframeMap {
        height: 300px;
    }
    .aboutMap h4 {
        line-height: 1.5;
        margin-bottom: 1em;
    }
    .advantagesCard h4 {
        font-size: 15px;
    }
    .advantagesCard p {
        font-size: 12px;
    } 
    .advantagesCard img {
        width: 42%;
    }
    .advantagesAbout {
        width: 50%;
        margin: 0 10px 0 0;
    }
}

@media(min-width: 1000px) {
    .aboutHomeWhy {
        padding: 10vw;
    }
    .aboutHomeWhy h3 {
        font-size: 38px;
    }
    .aboutHomeOrange {
        padding: 5vw 10vw;
    }
    .aboutHomeOrange h2 {
        margin: 1em 0;
    }
    .aboutHomeOrange p {
        width: 100%;
        font-size: 17px;
    }
    .advantagesCard {
        width: 38vw;
    }
    .advantagesCard p {
        font-size: 14px;
    } 
    .aboutMap {
        padding: 10px 10vw;
    }
}
@media(min-width: 1200px) {
    .aboutHomeWhy {
        padding: 8vw;
    }
    .aboutHomeOrange {
        padding: 8vw;
    }
    .aboutHomeOrange h2 {
        font-size: 54px;
        font-weight: 600;
    }
    .aboutHomeOrange p {
        font-size: 19px;
        width: 90%;
    }
    .advantagesCard {
        width: 41vw;
        border-radius: 20px;
    }
    .advantagesCard h4 {
        font-size: 19px;
    }
    .advantagesCard img {
        height: 170px;
        margin: 15px;
    }
    .advantagesCard p {
        font-size: 16px;
    } 
    .advantagesAbout {
        margin: 0 20px 0 10px;
    }
    .aboutMap {
        padding: 10px 8vw;
    }
    .aboutMap h4 {
        font-weight: 400;
        font-size: 22px;
    }
    .iframeMap {
        height: 390px;
    }
}

@media(min-width: 1500px){
    .aboutHomeOrange {
        padding: 4vw 8vw;
    }
    .aboutHomeOrange p {
        font-size: 20px;
    }
    .aboutHomeOrange h2 {
        font-size: 56px;
    }
    .advantagesCard img {
        height: 190px;
    }
    .aboutHomeWhy {
        padding: 8vw 8vw 6vw;
    }
    .iframeMap {
        height: 430px;
    }
}
@media (min-width: 1800px) {
    .aboutHomeOrange {
        padding: 4vw 10vw;
    }
    .aboutHomeOrange h2 {
        font-size: 60px;
    }
    .aboutHomeOrange p {
        font-size: 26px;
    }
    .aboutHomeWhy h3 {
        font-size: 42px;
    }    
    .advantagesCard img {
        height: 230px;
        margin: 25px;
    }
    .advantagesCard h4 {
        font-size: 26px;
    }
    .advantagesCard p{
        font-size: 21px;
    }
    .advantagesAbout {
        margin: 0 30px 0 20px;
    }
    .aboutMap h4 {
        font-size: 26px;
    }
    .iframeMap {
        
        height: 600px;
    }
}