.aboutHomeOrange {
    padding: 30px;
    background-color: #FFC700;
}
.aboutHomeOrange h2 {
    font-size: 35px;
}
.aboutHomeOrange p {
    font-size: 14.5px;
    line-height: 1.7;
    font-weight: 300;
}
.iframeMap {
    width: 100%;
    height: 220px;
    border: none;
    border-radius: 20px;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}
.aboutMap {
    width: 85vw;
    margin: auto;
}
.aboutMap h4 {
    font-weight: 500;  
    font-size: 17px;
}
.aboutHomeWhy {
    padding: 30px;
}

.aboutHomeWhy h3 {
    font-weight: 600;
    font-size: 22px;
}
.advantagesAbout {
    width: 50%;
    margin: 0 5px 0 0;
}
.advantagesCard {
    background-color: #f9f9f9;
    width: 85vw;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}
.advantagesCard img {
    width: 45%;
    height: 130px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px;
}
.advantagesCard p {
    font-size: 11px;
}

.advantagesCard h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 1em 0;
}
.aboutPolo {
    width: 100%;
    object-fit: cover;
    object-position: left;
}
@media(min-width: 700px) {
    .aboutHomeWhy {
        padding: 50px;
    }
    .aboutLocal {
        display: flex;
    }
    .aboutHomeOrange, .aboutPolo  {
        width: 50%;
    }

    .advantagesCard {
        width: 42vw;
        margin: 10px 0;
    }
    .advantagesCardsBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .aboutMap {
        width: 100%;
        padding: 10px 50px;
    }
    .aboutMap h4 {
        line-height: 1.5;
    }
    .advantagesCard h4 {
        font-size: 15px;
    }
    .advantagesCard p {
        font-size: 12px;
    } 
    .advantagesCard img {
        width: 42%;
    }
    .advantagesAbout {
        width: 50%;
        margin: 0 10px 0 0;
    }
}