.aboutHomeContainer {
}
.aboutHomeOrange {
    padding: 30px;
    background-color: #FFC700;
}
.iframeMap {
    width: 100%;
    height: 220px;
    border: none;
    border-radius: 20px;
}
.aboutMap {
    width: 85vw;
    margin: auto;
}
.aboutMap h4 {
    font-weight: 500;
}
.advantagesAbout {
    width: 50%;
}
.advantagesCard {
    background-color: #F4F4F3;
    width: 85vw;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}
.advantagesCard img {
    width: 45%;
    height: 130px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px;
}
.advantagesCard {
    display: flex;
}
.advantagesCard p {
    font-size: 11.5px;
}

.advantagesCard h4 {
    font-size: 14px;
    font-weight: 600;
}
.aboutHomeWhy {
    padding: 30px;
}
