.detailContainer {
    padding: 30px;
}
.spinner{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel {
    height: 250px;
}
.carousel-inner {
    height: 100%;
}
.carousel-indicators [data-bs-target] {
    background-color: orange !important;
}
.imageDetail  {
    width: 100%;
    width: fit-content;
    height: 250px; 
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    text-align: center;
}
.nameDetail {
    margin-bottom: 1rem;
    margin-right: 5px;
    font-size: 30px;
    color: #383838;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 200;
}
.nameDetail strong {
    font-weight: 600;
}
.garantia {
    margin: 0 0 0 10px;
    font-size: 14px;
    font-weight: 600;
}
.garantiaContainer {
    color: dimgrey;
    display: flex;
    margin: 1em 0;
    align-items: center;
}
.priceBoxDetail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.priceBoxDetail .cardPrice {
    font-size: 30px;
    margin-bottom: 0;
    color: #383838;
}
.priceBoxDetail .alContado {
    margin: 1em 0 0 0;
}
.characteristicsDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.caracItemDetail {
    width: 50%;
}
.caracItemDetail h6 {
    font-weight: 700;
    color: dimgray;
    color: #8d8d8d;
    margin-bottom: 0.25em;
    font-size: 13px;
}
.caracItemDetail p {
    font-size: 14px;
    text-transform: capitalize;
}
.detailDescriptionText {
    font-size: 12px;
}

@media(min-width:700px){
    .detailContainer {
        padding: 6vw;
    }
    .nameDetail {
        font-size: 40px;
    }
    .carousel, .imageDetail {
        height: 500px;
        border-radius: 20px;
        border-radius: 50px;
    }
    .priceBoxDetail .alContado {
        margin: 2em 0 10px 0;
        font-size: 16px;
    }
    .priceBoxDetail .cardPrice {
        font-size: 40px;
    }
    
    .caracItemDetail h6 {
        margin-bottom: 0.4em;
        font-size: 14px;
    }
    .caracItemDetail p {
        font-size: 15px;
    }
    .detailDescriptionText {
        font-size: 13px;
    }
}
@media (min-width: 1000px) {
    .detailContainer {
        padding: 5vw 10vw;
    }
    .nameDetail {
        font-size: 45px;
        margin-bottom: 2rem;
    }
    .carousel, .imageDetail {
        height: 600px;
    }
    .priceBoxDetail .alContado {
        font-size: 18px;
    }
    .subtitlesDetail {
        font-size: 22px;
    }
    .caracItemDetail {
        width: 33.3%;
    }
    .caracItemDetail h6 {
        margin-bottom: 0.4em;
        font-size: 17px;
    }
    .caracItemDetail p {
        font-size: 18px;
        margin-bottom: 2rem;
    }
    .detailDescriptionText {
        font-size: 16px;
    }
    .garantiaContainer {
        margin: 1.5em 0;
    }
}
@media(min-width:1200px){
    
    .caracItemDetail {
        width: 25%;
    }
    .caracItemDetail p {
        margin-bottom: 1.5rem;
        font-size: 19px;
    }
    .caracItemDetail h6 {
        margin-bottom: 0.5em;
        font-size: 18px;
        margin-top: 1em;
    }
    .detailDescriptionText {
        font-size: 17.5px;
    }
    .garantia { 
        font-size: 19px;
    }
    .garantiaContainer {
        margin: 0;
    }
    .priceBoxDetail .cardPrice {
        font-size: 47px;
    }
    .subtitlesDetail {
        font-size: 24px;
    }
    .carousel, .imageDetail {
        object-fit: contain;
        height: 450px;
    }
    .detailInfoBox {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 70vw;
        margin-bottom: 3em;
    }
}

@media(min-width: 1500px) {
    
    .nameDetail {
        font-size: 50px;
    }
    .carousel, .imageDetail {
        height: 500px;
    }
}
@media(min-width: 1800px) {
    

    .caracItemDetail p {
        font-size: 21px;
    }
    .caracItemDetail h6 {
        font-size: 20px;
    }
    .detailDescriptionText {
        font-size: 19px;
    }
    .garantia { 
        font-size: 22px;
    }
    .priceBoxDetail .cardPrice {
        font-size: 50px;
    }
    .subtitlesDetail {
        font-size: 26px;
    }
}