.starredCarsCard{
    width: 50%;
}
.starredCarsImg {
    width: 100%;
    height: 125px;
    object-fit: cover;
}
.starredContainerMap {
    display: flex;
    flex-direction: row;
}
.starredTitle{
    margin: 0;
}
.starredPrice{
    margin: 0;
    text-align: center;
}