.starredCarsContainer {    
    padding: 0 0px 20px 30px;
    min-height: max-content;
}
.starredCarsImg {
    width: 98%;
    height: 115px;
    object-fit: cover;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 15px;
}
.starredContainerMap {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    /* padding-left: 20px;
    padding-bottom: 20px; */
}

.starredCarsCard {
    flex: 0 0 39%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px 15px 20px 0;
    border-radius: 16px;
    background: white;
    scroll-snap-align: center; 
    text-align: center;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}

.starredTitle, .starredPrice {
    text-align: center;
    margin: 10px 0 0;
    font-size: 14px;
}
.seeMore {
    text-align: end;
    margin: 1rem 20px 0 0;
    font-size: 10px;
    text-decoration: underline;
    padding-bottom: 5px;
}

@media(min-width: 700px){
    .starredCarsContainer {    
        height: unset;
        padding: 0 0px 20px 6vw;
    }
    .starredCarsImg {
        height: 225px;
    }
    .starredCarsCard {
        padding: 20px;
    }
    .starredTitle, .starredPrice {
        margin: 5px 0 0;
        font-size: 17px;
    }
    .seeMore {
        font-size: 12px;
    }
}
@media (min-width: 1000px) {
    .starredCarsContainer {    
        height: unset;
        padding: 0 0px 20px 10vw;
    }
    .starredCarsImg {
        height: 300px;
    }
    .starredTitle, .starredPrice {
        margin: 15px 0 0;
        font-size: 24px;
    }
    .seeMore {
        font-size: 14px;
    }
}
@media (min-width: 1200px) {
    .starredCarsContainer {    
        padding: 0 0px 60px 8vw;
    }
    .starredCarsCard {
        flex: 0 0 35%;
        padding: 30px;
        margin: 0px 35px 20px 0;
    }
    .starredCarsImg {
        height: 350px;
    }
    .seeMore {
        font-size: 16px;
    }
}
@media(min-width:1500px){
    
    .starredCarsCard {
        flex: 0 0 29%;
        padding: 20px;
        margin: 0px 20px 20px 0;
    }
}