.starredCarsImg {
    width: 98%;
    height: 115px;
    object-fit: cover;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 15px;
    
}

.starredContainerMap {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.starredCarsCard {
    flex: 0 0 39%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 0px 20px 10px;
    border-radius: 16px;
    background: white;
    scroll-snap-align: center; 
    text-align: center;
}

.starredTitle, .starredPrice {
    text-align: center;
    margin: 10px 0 0;
    font-size: 14px;
}