.starredCarsImg {
    width: 98%;
    height: 115px;
    object-fit: cover;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 15px;
    
}
.starredCarsContainer {
    padding: 30px;
    padding-right: 0;
}
.starredContainerMap {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    /* padding-left: 20px;
    padding-bottom: 20px; */
}

.starredCarsCard {
    flex: 0 0 39%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px 15px 20px 0;
    border-radius: 16px;
    background: white;
    scroll-snap-align: center; 
    text-align: center;
}

.starredTitle, .starredPrice {
    text-align: center;
    margin: 10px 0 0;
    font-size: 14px;
}