.contactContainer {
    padding: 30px;
}
form {
    margin: 2em 0;
}
.contactContainer h6 {
    margin-bottom: 0.3rem;
}
.inputContact {
    border-radius: 15px;
    font-size: 12px;
    border: none;
    box-shadow: 1.03px 1.03px 1.11px #00000040;
    padding: 3%;
    margin: 2% 0;
    appearance: none;
    -webkit-appearance: none;
}
.inputContainer {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: 300;
    font-size: 14px;
}
.inputContactSelect {
    /* width: 80vw; */
}
.inputContactSelect option {
    font-size: 12px;
}
.formButton {
    border-radius: 20px !important;
    margin-top: 15px;
    width: 100px;
    font-size: 14px !important;
}