.contactContainer {
    padding: 30px;
}
form {
    margin: 2em 0;
}
.contactContainer h6 {
    margin-bottom: 0.3rem;
}
.inputContact {
    border-radius: 15px;
    font-size: 12px;
    border: none;
    box-shadow: 1.03px 1.03px 1.11px #00000040;
    padding: 3%;
    margin: 2% 0;
    appearance: none;
    -webkit-appearance: none;
}
.inputContainer {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: 300;
    font-size: 14px;
}
.inputContactSelect option {
    font-size: 12px;
}
.formButton {
    border-radius: 20px !important;
    margin-top: 15px;
    width: 100px;
    font-size: 14px !important;
}

@media(min-width: 700px){
    
    .contactContainer {
        padding: 6vw;
    }
    .contactContainer h6 {
        margin-bottom: 0.3rem;
        font-size: 20px;
    }
    .inputContact{
        padding: 2%;
        margin: 1% 0;
    }
    label {
        font-weight: 400;
        font-size: 15px;
    }
    .inputContactMessage {
        height: 100px;
    }
    
    .formButton {
        border-radius: 15px !important;
        margin-top: 15px;
        font-size: 16px !important;
    }
}
@media(min-width: 1000px){
    
    .contactContainer {
        padding: 10vw;
    }
    .contactContainer h6 {
        margin-bottom: 0.8rem;
        font-size: 23px;
    }
    .inputContainer {
        width: 70%;
    }
    .inputContact {
        margin: 2% 0;
    }
    label {
        font-size: 16px;
    }
}

@media(min-width: 1200px){
    
    .contactContainer {
        padding: 8vw;
    }
    .inputContainer {
        width: 56%;
    }
    .inputContact {
        margin: 2% 0;
        padding: 3%;
    }
    label {
        font-size: 18px;
    }
    
    .inputContactMessage {
        height: 150px;
    }
    .formButton {
        font-size: 20px !important;
    }
}
