.heroContainer{
    background-image: url('/images/hero3.jpg');
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 42vh;
}
.heroContainer h2 {
    font-size: 16px;
    font-weight: 300;
    color: white;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
}
.button{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    width: 48%;
    min-width: fit-content;
    background: black;
    color: white;
    padding: 15px 18px 15px 18px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
}
.learnMore {
    margin-bottom: 1.4em;
    background: white;
    color: black;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.fade-in.visible {
    opacity: 1;
}

.button:hover {
  opacity: 0.8;
}
@media(min-width:700px) {
    .heroContainer {
        height: 500px;
    }
    .heroContainer h2 {
        font-size: 27px;
        font-weight: 600;
        margin-left: 30px;
        margin-bottom: 0rem;
        margin-top: 0.8rem;
    }
    .button {
        font-size: 14px;
        font-weight: 500;
        width: 33%;
        min-width: fit-content;
        padding: 12px 18px 12px 18px;
        margin-left: 30px;
    }
    .h2Container {
        margin-bottom: 12rem;

    }
}