.heroContainer{
    background-image: url('/images/hero2.jpg');
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroContainer h2 {
    margin: 0.5em;
}
.heroText {
    margin-bottom: 15px;
    font-family: 'anton-sc';
}
.button{
    font-size: 12.5px;
    font-weight: 700;
    text-transform: uppercase;
    width: 46%;
    background: black;
    color: white;
    padding: 15px 18px 15px 18px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1rem;
}
.learnMore {
    margin-bottom: 1.4em;
    background: white;
    color: black;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.fade-in.visible {
    opacity: 1;
}

.button:hover {
  opacity: 0.8;
}