.logoNavbar {
    width: 100px;
}
.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    
    width: calc(100% );
    height: 65px;
    background: #FAFAFA;
    position: sticky;
    top: 0;
    z-index: 100;

    padding: 5px 30px;
    background-color: #fff;
}

.dropdownNavbar {
    
    width: 100%;
    height: 91vh;
    z-index: 1;
    position: absolute;
    top: 64px;
    right: 0;
    padding: 4% 30px 1% 0;
    background: #FAFAFA;
    text-align: right;
}

.dropdownNavbar p{
    color: #7E7E80;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 6%;
}

@media (min-width: 700px){
    .navbarContainer{
        height: 85px;
    }
    .logoNavbar {
        width: 130px;
    }
    .dropdownNavbar {
        display: flex;
        justify-content: space-between;
        width: 52%;
        height: unset;
        z-index: unset;
        position: unset;
        top: unset;
        right: unset;
        padding: unset;
        background: unset;
    }
    .adminNavbar {
        width: 77%;
    }
    .dropdownNavbar p{
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        height: 12px;
        line-height: 1;
        border-left: rgba(141, 141, 143, 0.50) solid 1px;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .homeNavbar {
        display: none;
    }
    .aboutNavbar {
        border-left: none !important;
    }
}


@media (min-width: 1023px){
    
    .logo{
        width: 100px;   
    }
    .dropdownNavbar p{
        font-size: 10.565px;
    }
    
}

@media (min-width: 1259px){
    .dropdownNavbar {
        width: 50%;
    }
    .dropdownNavbar p{
        font-size: 14px;
        height: 16px;
        width: 21%;
        text-align: center;
    }
    
    
}

@media (min-width: 1800px){
    
    .dropdownNavbar p{
        font-size: 16px;
    }
    
}