.dashboardContainer {
    min-height: 90vh;
    padding: 0 6vw 2vw;
}
.dashboardContainer h2 {
    text-align: center;
}
.dashboardButton {
    background-color: #fff;
    border: 2px grey solid;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 3%;
}
.deleteButton:hover{
    background-color: red;
    border: 2px red solid;
}
.editButton:hover {
    background-color: yellow;
    border: 2px yellow solid;
}
.addButton:hover {
    background-color: rgb(72, 72, 72);
    border: 2px  rgb(72, 72, 72) solid;
    color: white;
}
.addButton {
    padding: 1.5% 3%;
}
.descriptionDashboard{
    font-size: smaller;
}
.modal-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.formDashboard textarea {
    height: 80px;
}
.modalDescription {
    margin: 0;
}
.dashboardCard {
    width: 48%;
    border-radius: 10px;
    margin: 1%;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}
.cardsContainerDashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.dashboardMainItemsContainer {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.cardDashboardPrice {
    font-size: 14px;
}
.dashboardMainItemsContainer p {
    margin-bottom: 0.5rem;
}
.crudButtonsDashboard {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    transform: translateX(200%);
    margin-top: 5px;
}
.radioLabelMargin {
    margin: 1% 3% 2% 1%;
}
.addMoreButton {
    font-size: 12px;
    border: 2px solid grey;
    width: fit-content;
    border-radius: 5px;
    padding: 0 3%;
    margin-top: 10px;
}
@media(min-width:700px){
    
    .dashboardCard {
        width: 45%;
        margin: 2%;
    }
    .dashboardButton {
        margin-left: 2%;
    }
    .modal-dialog {
        max-width: 80vw !important;
    }
}
@media(min-width:1000px){
    
    .dashboardButton {
        padding: 2%;
        font-size: 20px;
        font-weight: 600;
    }
    .formDashboard {
        width: 100%;
    }
    .formDashboard .input {
        width: 90%;
    }
    .modalDescription {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .dashboardCard {
        width: 31.1%;
        margin: 1.1%;
    }
    .dashboardButton {
        margin-left: 1%;
    }
    .dashboardMainItemsContainer {
        font-size: 13px;
    }
    .cardDashboardPrice {
        font-size: 21px;
    }
    .crudButtonsDashboard {
        transform: translateX(190%);
    }
    .formDashboard div {
        width: 40%;
    }
    .formDashboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (min-width: 1500px) {
    .dashboardCard {
        width: 23%;
        margin: 1%;
    }
    .dashboardButton {
        margin-left: 1%;
    }
    .dashboardMainItemsContainer {
        font-size: 13px;
    }
    .cardDashboardPrice {
        font-size: 21px;
    }
    .crudButtonsDashboard {
        transform: translateX(150%);
    }
}