.dashboardContainer {
    min-height: 90vh;
}
.dashboardContainer h2 {
    text-align: center;
}
.dashboardButton {
    background-color: #fff;
    border: 2px grey solid;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 3%;
    margin-left: 5%;
}
.deleteButton:hover{
    background-color: red;
    border: 2px red solid;
}
.editButton:hover {
    background-color: yellow;
    border: 2px yellow solid;
}
.addButton:hover {
    background-color: rgb(72, 72, 72);
    border: 2px  rgb(72, 72, 72) solid;
    color: white;
}
.addButton {
    padding: 1.5% 3%;
}
.descriptionDashboard{
    font-size: smaller;
}
.modal-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.modalDescription {
    margin: 0;
}
.dashboardCard {
    width: 48%;
    border-radius: 10px;
    margin: 1%;
    box-shadow: 1.03px 1.03px 4.11px #00000040;
}
.cardsContainerDashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.dashboardMainItemsContainer {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.cardDashboardPrice {
    font-size: 14px;
}
.dashboardMainItemsContainer p {
    margin-bottom: 0.5rem;
}
.crudButtonsDashboard {
    display: flex;
    justify-content: flex-end;
}
@media(min-width:1000px){
    
    .addButton {
        padding: 1%;
        margin-left: 5%;
        margin-bottom: 10%;
    }
}