:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F4F3;
}
/* gris oscuro #383838 */
h2 {
  font-size: 26px;
  line-height: 1.3;
  font-weight: 500;
  margin: 1em 0;
  font-family:  'Kulim Park', sans-serif;
  font-weight: 700;
    letter-spacing: -0.3px;
}
h3 {
  margin-bottom: 1em;
}