:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F4F3;
}
/* gris oscuro #383838 */
h2 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 500;
  margin: 1em 0;
  font-weight: 700;
  letter-spacing: -0.3px;
}
h3 {
  margin-bottom: 1em;
}
a {
  color: inherit; /* O el color que prefieras */
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
}

.onlyTablet {
  display: none;
}
@media(min-width: 700px){
  .onlyMobile{
    display: none;
  }
  .onlyTablet {
    display: block;
  }
  h2 {
    font-size: 38px;
    margin: 1.5em 0;
  }
}
@media(min-width:1000px){
  h2 {
    font-size: 42px;
  }
}